*.map
Nodes/Nodes/images/_sprites.PNG
Nodes/Nodes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Nodes/Nodes/obj/Debug/Nodes.dll
Nodes/Nodes/obj/Debug/Nodes.pdb
Nodes/Nodes/bin/Nodes.dll
Nodes/Nodes/bin/Nodes.pdb
Nodes/Nodes/bin/Nodes.dll.config
Nodes/Nodes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache